body{
  font-family: 'Merriweather', serif;
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}

header{
  text-align: center;
  background: #2d3945;
  padding: 1em 0;
  }

main{
  padding: 1em 0;
}

h1{
  text-transform: uppercase;
  color: white;
}

h2{
  color: #2d3945;
}

.newsletter{
  text-align: center;
  padding: 1em 0;
  border-bottom: 5px solid #2d3945;
}

form fieldset:last-child{
  border: none;
}

fieldset:first-child{
  padding: 2em 0;
  border-bottom: 2px solid #2d3945;
}

legend{
  font-size: 1.5em;
}

label{
  text-transform: capitalize;
  display: block;
  margin: 5px 0 5px 5px;
}

input, select{
  width: 100%;
  padding: 0.5em;
  height: 2em;
  border: none;
  border-radius: 5px;
  background: #eff0f1;
}

input#zip{
  width: 50%;
}

input[placeholder]{
  text-align: right;
}

main div{
  margin-bottom: 15px;
}
